
/*头部*/
.page-header.navbar.navbar-fixed-top {
    z-index: 100;
}


.page-header.navbar{
    border-bottom: 3px solid #87AFD5;
}

.logo{
    text-shadow: 0 0 1px #FFFFFD;
    color: #FFFFFD;
    font-size: 19px
}

.logo-right {
    color: #ababab;
}

.logo-left{
    color: #FFFFFD;

}

.page-header-text {
    font-size: 14px;
    color: #FFFFFD;
}

.page-option :hover {
    background-color: #3D3D3D;
}

.page-menu-right{
    border-left: 1px dashed #535353;
    width: 100px;
    text-align: center;
    height: 53px;
    margin: 0;
    padding: 0;
    float: right;
}

.page-menu-left{
    border-left: 1px dashed #535353;
    width: 100px;
    text-align: center;
    height: 53px;
    margin: 0;
    padding: 0;
    float: left;
}

.action{
    background-color: #3D7DBA;
}




/* 操作*/
.delete {
    border-radius: 15px 15px 15px 15px;
    background-color: transparent;
    color: gray;
    border: 0px;
}

.delete:hover {
    color: white;
    background-color: red;
}


#bTable table {
    border: 0px solid transparent;
}

#bTable tr {
    border: 0px solid transparent;
}

#bTable td {
    border: 0px solid transparent;
}

#eTable table {
    border: 0px solid transparent;
}


#eTable tr {
    border: 0px solid transparent;
}

#eTable td {
    border: 0px solid transparent;
}
