<div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
            <!-- BEGIN LOGO -->
        <div class="page-logo" style="text-align: center;
            line-height: 50px;">
            <i class="logo">酿造微生物数据库平台</i>
        </div>


        <a href="@routes.DiversityController.home()" class="page-option">
            <div class="page-menu-left" id="home" >
                <div style="margin-top: 5px">
                    <i class="fa fa-home logo-left" style="font-size: 20px"></i>
                </div>
                <span class="page-header-text"> 主页</span>
            </div>
        </a>
        <a href="" class="page-option">
            <div class="page-menu-left" id="diversity" >
                <div style="margin-top: 5px">
                    <i class="fa fa-eye logo-left" style="font-size: 20px"></i>
                </div>
                <span class="page-header-text"> 数据管理</span>
            </div>
        </a>


        <a href="@routes.AccountController.accountBefore()" class="page-option">
            <div class="page-menu-left"  id="account">
                <div style="margin-top: 5px">
                    <i class="fa fa-line-chart logo-left" style="font-size: 20px"></i>
                </div>
                <span class="page-header-text"> 账号管理</span>
            </div>
        </a>
        <a href="#" class="page-option" style="display: none">
            <div class="page-menu-left" >
                <div style="margin-top: 5px">
                    <i class="fa fa-cog logo-left" style="font-size: 20px"></i>
                </div>
                <span class="page-header-text"> 系统设置</span>
            </div>
        </a>


        <a href="@routes.HomeController.loginBefore()" class="page-option">
            <div class="page-menu-right" >
                <div style="margin-top: 5px">
                    <i class="fa fa-sign-out logo-right" style="font-size: 20px"></i>
                </div>
                <span class="page-header-text"> 退出管理</span>
            </div>
        </a>


        <a href="@routes.AccountController.newPassword()" class="page-option">
            <div class="page-menu-right" id="password">
                <div style="margin-top: 5px">
                    <i class="fa fa-lock logo-right" style="font-size: 20px"></i>
                </div>
                <span class="page-header-text"> 修改密码</span>
            </div>
        </a>
    </div>
</div>

<script>


        $(function () {
            var href = window.location.href;
            if (href.split("/")[5].indexOf("=") == -1) {
                $("#" + href.split("/")[4]).addClass("action");
                $("#" + href.split("/")[5]).addClass("active");
            }else{
                $("#" + href.split("/")[4]).addClass("action");
            }

        });



    </script>
